
.header, .footer{
    display: flex;
    background-color: #1F2937;
    
}

.button{
    background-color: #3882F6;
    color: white;
    border-radius: 4px;

}

/* Header */

.header{
    justify-content: space-between;
    padding-top: 0px;
    
}

.left-header, .right-header{
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-header{
    margin: 0px 20px 0px 0px;
    padding-left: 20px;
}

.right-header{
    padding-right: 20px;
}

.logo{
    border-radius: 100px;
    width: 60px;
    height: 60px;
    
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    
}
/* Hero section */

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    
}

.right-hero{
    display: flex;
    margin: 80px;
}


.hero-image{
    width: 300px;
    height: 220px;
}

.hero-button{
    margin: 10px;
    align-self: flex-start;
    
}

body{
    margin: 0;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8; 
   
}

.hero-secondary-text, .footer-text, a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header-links{
    display: flex;
    justify-content: space-between;
    padding: 16px;

}
/* Info section */

img {
    width: 200px;
    height: 200px;
}

.leo-pic{
    border-radius: 4px;
    
}

.information-section{
    padding: 25px 100px 100px 100px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    flex-flow: row wrap;
    
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 25px 50px
}

.text{
    text-align: center;
    max-width: 200px;
    flex-wrap: wrap;
}

/* Quote Section */

.quote-section{
    text-align: center;
    background-color: #e5e7eb;
    padding: 100px;
    margin: 0;
}

.quote-text{

    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

.cite{
    text-align: end;
}

/* Signup box section */

.signupbox{
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 70px 200px 70px 200px;
    border-radius: 4px;
    
}

.box-text{
    margin-right: 300px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 300px;
}

.box-text h3{
    color: #F9FAF8;
    text-align: left;
    margin-bottom: 0px;
}

.box-text p{
    margin-top: 0px;
    color: #e5e7eb;
}

.signupbox-button{
    border-color: white;
}

/* Footer section */

.footer{
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0;
   
}


